@import "var";
@import "mixin";
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
  background: $bgColor;
}

li {
  list-style: none;
}

.oh {
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
